<div class="bg1">
    <%= image_tag("https://lh3.googleusercontent.com/MwygkPZC0N9fAzDFb6TayX3i6jntUuNbHHNMfUjFIzhJZzhcd2DjDNu7_fdAyVjhahp-vchAdmsINzTCsLjxMyfVr7igCaYZyXYRfpfAuU3gnewPC8eMRfs59c0XVQUfyY29Us3s-R0OKC5VsekkhvDoVzYuzLvXxgPf2KKEKHzE7yUKpDQMaSePp4Au0yse3Q7vhBwaBwH58JB6ppS9Cj0UlIowEbCegHMSrM3aS6bnWn_s_5FasKg03vOqGfzzAAK-2M199Gfb7aBUG7-FgDMoJ0Wi5j-GbqiWA1t0efFjPu_JpXMiPOjh1cdYYu9OkcuVPw03Te-225o1MwcUbgfVjw5LFKxI1xflGKQ-LnOtUUofLQdN-L2vs2LIGz8C22OflGEO4tsurgqNbKr3D8xHmc633dFa6F_W2UNeiFTCB8v-UnR7kRoUJz-GEQT0FTiwpSV1ZWPWbqNzYaj4t6po3cRxINhSafnaelBDEegGB_6B47iaWHyM8zhcADxFkcS06NSpYR31rzwnO2uk1nOpoLRige6U3zzY4Z7gsXFZq-ZqudN0LZ8FyWA3PsfwscmnR_FzOd5VI3CIOzNxen9cYrjUhCowrqqKqBOzUCP2QdZXvnp--m33qRtK0eHpNxkmba4szncxQz5gcWJBm5HBEvZkM-HD0ZMh9fXUtVWFVie-z2jsGtqQtYKc4w=w1884-h1504-no?authuser=0", width: "100%") %>
  
  </div> 

<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <p><%= error %></p>
  <% end %>
<% end %>


<%= form_for @user do |f| %>
    
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :username %>
<%= f.text_field :username %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.submit class: 'button'%>
<% end %>