<h2>All Your Mood Pins</h2>
<p><%= @board.title %> </p>
<p><em><%= @board.description %> </em></p>

<%= button_to "Delete Board", board_path(@board), method: :delete %>

<%= button_to "Add Image", new_board_image_path, method: :get %>

<% @board.board_images.each do |board_image| %>
<img src= <%= board_image.image.img_url %>>
<%= button_to "Delete Image", board_image_path(board_image), method: :delete %>
<% end %>