

<div class="container">
    <%= form_tag(images_path, method: :get) do %>
    <%= label_tag :search, "Search by Category:" %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Search", :name => nil, :class => "button") %>
    <% end %>
    <h3>Click the Image You're Inspired by</h3>
    <div class="index-layout">
        
        <% @images.each do |image| %>
            <div class="index-card">

                <%= link_to image_tag("#{image.img_url}", width: "100", height: "100" ), image_path(image)%>
            </div>
        
            <% end %>
        </div>
    </div>
</div>
