<div class="container">
    <div class="index-layout"></div>
       
            <img class="img-show" src = <%= @image.img_url %> />
            <%= form_for @board_image do |f| %>
            
            <%= f.label :board_id, "Pick a Board" %>
            <%= f.collection_select :board_id, Board.all, :id, :title %>
            
            <%= f.submit class: 'button-form'%>
        </div>
            <% end %>
    </div>
</div>

