<!DOCTYPE html>
<html>
  <head>
    <title>MoodApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='nav'>
      <img class='logo' src="https://www.logomoose.com/wp-content/uploads/2015/02/mood.png" alt="moodlogo">
    </div>

      <ul>
        <li><%= link_to 'My Boards', boards_path %></li>
        <li><%= link_to 'Browse Images', images_path %></li>
        <li><%= link_to 'New Board', new_board_path %></li>
        <% if @logged_in_user %>
          <li class='right'> <%=link_to "My Account", account_path %> </li>
          <li class='right'><%= link_to 'Log-out', logout_path, method: :delete %></li>
        <% else %>
          <li class='right'><%= link_to 'Sign-up', new_user_path %></li>
          <li class='right'><%= link_to 'Log-in', new_login_path %></li>
        <% end %>
      </ul>

    <%= yield %>
  </body>
</html>
